---
name: Build
on: [push, pull_request]
permissions:
  contents: read
  issues: write

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.23.x, 1.24.x]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version}}
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install yamllint
      shell: sh
      run: |
        sudo apt-get install yamllint
    - name: Build
      shell: sh
      run: |
        make

  coverage:
    runs-on: ubuntu-latest
    steps:
    - name: Install go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24.x
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install goveralls
      env:
        GO111MODULE: on
      run: go install github.com/mattn/goveralls@latest
    - name: Send coverage
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: goveralls -service=github
